
.message {
  background-color: #f5f5f5;
  color: #333333;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.message.success {
  background-color: #9ac25d;
  color: #ffffff;
}

.message.error {
  background-color: #e74c3c;
  color: #ffffff;
}
